<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>KeyBoard</title>
        <link rel="stylesheet" href="style.css" />
        <script src="data.js"></script>
        <script src="index.js"></script>
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body>
        <div id="app">
            <div>
                <h1 class="inline mr33">KeyBoard</h1>

                <span>Layer: </span>
                <span
                    v-for="(layer,index) in layerxx"
                    @click="show(index)"
                    :class="{active:index===this.index}"
                    class="button"
                >
                    {{ index }}
                </span>

                <span class="mr33"></span>
                <span>Hand: </span>
                <label>
                    <input
                        v-model="hand"
                        :value="true"
                        type="radio"
                        name="hand"
                    />Show
                </label>
                <label>
                    <input
                        v-model="hand"
                        :value="false"
                        type="radio"
                        name="hand"
                    />Hide
                </label>
            </div>
            <div id="board">
                <div v-for="row in board.rowxx" class="row">
                    <span
                        v-for="key in row.keyxx"
                        @mousedown="press(key)"
                        @mouseup="lift(key)"
                        :style="key.style(row)"
                        :class="key.css(row)"
                        class="key"
                    >
                        <span class="slot">
                            <span class="key-label">{{ key.label }}</span>
                            <span class="key-down">{{ key.down }}</span>
                        </span>
                    </span>
                </div>
                <img
                    v-show="hand"
                    src="hand.svg"
                    class="hand left"
                    alt="left hand"
                />
                <img
                    v-show="hand"
                    src="hand.svg"
                    class="hand right"
                    alt="right hand"
                />
            </div>
        </div>

        <script>
            Vue.createApp({
                data() {
                    return {
                        board: new Board(),
                        hand: true,
                        index: 0,
                        key: null,
                        layerxx: data.layerxx,
                    }
                },
                mounted() {
                    this.show(0)
                },
                methods: {
                    lift(key) {
                        if (this.key) {
                            if (this.key.method.localeCompare("MO") === 0) {
                                this.show(0)
                            }
                            this.key = null
                        }
                        if (key.method.localeCompare("TG") === 0) {
                            this.show(key.layer)
                        }
                    },
                    press(key) {
                        this.key = key
                        if (key.method.localeCompare("MO") === 0) {
                            this.show(key.layer)
                        }
                    },
                    show(index) {
                        this.index = index
                        this.board.load(this.layerxx[index].board)
                    },
                },
            }).mount("#app")
        </script>
    </body>
</html>
