#app {
    width: 922px;
    margin: auto;
}

#board {
    width: 896px;
    height: 480px;
    padding: 11px;
    position: relative;
    display: inline-block;
    border: solid 1px black;
    border-radius: 11px;
}

.button {
    margin: 3px;
    padding: 11px 22px;
    cursor: pointer;
    border: solid 1px dodgerblue;
    border-radius: 4px;
}

.button:hover {
    background-color: lightskyblue;
}

.button.active {
    background-color: lightskyblue;
}

.fn {
    color: dodgerblue;
    cursor: pointer;
}

.hand {
    position: absolute;
    width: 300px;
    top: 200px;
}

.hand.left {
    left: 82px;
}

.hand.right {
    left: 536px;
    transform: scale(-1, 1);
}

.image11 {
    background-image: url("key11.svg");
}

.image12 {
    background-image: url("key12.svg");
}

.image14 {
    background-image: url("key14.svg");
}

.image21 {
    background-image: url("key21.svg");
}

.inline {
    display: inline-block;
}

.key {
    position: absolute;
    background-size: cover;
    display: inline-block;
}

.key.changed {
    color: red;
}

.key-label {
    position: absolute;
    left: 15px;
    top: 11px;
}

.key-down {
    position: absolute;
    left: 15px;
    top: 32px;
}

.key.plain {
    border: solid 1px #333;
}

.mr33 {
    margin-right: 33px;
}

.row {
    position: relative;
}
